*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$robotto:'Roboto', sans-serif;
.body{
    background-color: #E5E5E5;
}
.signup_signin{
    background-color: #E5E5E5;
    display: flex;
    font-family: $robotto;
    font-weight: 400;
    padding-left: 214px ;
    overflow: hidden;
 
    .box1{
        flex-basis: 50%;
        margin-right: 45px;
        padding-top: 274px;
        
        h3{
            font-size: 100px;        
            color: #02569C;
        }
        .box1_logo{
            max-width: 310px;
            height: 80px;
            margin: 60px 0 60px 0;
            svg{
                width: 100%;
                height: 100%;
            }
        }
        p{
            font-size: 26px;
            color: #939597;
            margin-bottom: 60px; 
            max-width: 314px;
            
        }
        .for_buttons{
           button{
               width: 365px;
               height: 70px;
               border-radius: 50px;
               a{
                   text-decoration: none;
                   font-size: 26px;

               }
           }
           .first_button{
               background-color: #02569C;
               border: none;
              
               a{
                color: #FFFFFF;
               }
           }
           .second_button{              
               border: 1px solid #02569C;
               margin-left: 16px;
               a{
                   color: #02569C;
               }
           }
        }
    }
    .box2{
        flex-basis: 50%;
        .box2_svg{
            padding-bottom: 30px;
            max-width: 1074px;
            max-height: 1118px;
            margin-right: -180px;
        svg{
            width: 100%;
            height: 100%;
        }

        }
    }
    @media screen and(max-width:1830px){
        padding-left: 150px;
        .box1{
            h3{
                font-size:90px;
               
            }
            .box1_logo{
                margin-top: 40px;
                margin-bottom: 40px;
            
            }
            p{
                font-size: 26px;
                margin-bottom: 40px;
            }
            .for_buttons{
               
                button{
                    width:350px;
                }

            }
           
        }
      
    }
    @media screen and(max-width:1690px){
       padding-left: 90px;
        .box1{
            padding-bottom: 288px;
           
            .box1_logo{
                width: 254px;
                height: 64px;
            }
           
            .for_buttons{
                margin-right: 25px;
                button{
                    width:300px;
                    height: 60px;
                }

            }
           
        }
        .box2{
            .box2_svg{
                max-width: 880px;
                max-height: 880px;
            }
           
        }
      
    }
    @media screen and(max-width:1545px){
        padding-left: 150px;
        .box1{
            flex-basis:60%;
            padding-bottom: 50px;
         
            h3{
                font-size:80px;
            }
           
            p{
                font-size: 24px;
            }
        }
        .box2{
            flex-basis: 40%;
        }
      
    }
    @media screen and(max-width:1480px){
      
        .box1{
            padding-top:80px;
        }
        .box2{
            padding-top: 30px;
            margin-right: -50px;
          
            .box2_svg{
            min-width:400px;
            min-height: 400px;
            }
        }
    }
    @media screen and(max-width:1440px){
        
        .box1{
            
            h3{
                font-size:60px;
            }
           
            p{
                font-size: 22px;
                
            }
            .box1_logo{
                width: 245px;
                height: 66px;
            }
            .for_buttons{
                margin-right: 25px;
                button{
                    width:300px;
                    height: 50px;
                }

            }
        }
        .box2{
            .box2_svg{
               width:550px;
               height:550px;
            }

        }
    }
    @media screen and(max-width:1315px){
        .box1{
            h3{
                font-size:50px;
            }
            .for_buttons{
                margin-right: 25px;
                button{
                    width:280px;
                    height: 45px;
                    a{
                        font-size: 20px;
                    }
                }

            }
        }
       
    }
  @media screen and(max-width:1205px){
      padding-left: 50px;
      .box1{
          margin-right: unset;
      }
      .box2{
          .first_button{
              button{
                  width:180px;
              }
          }
      }
  }
  @media screen and(max-width:1060px){
    padding-left: 25px;
    .box1{
        .first_button{
            button{
                width:150px;
            }
        }

    }

  }
  @media screen and(max-width:1030px){
    flex-wrap: wrap;
    .box1{
        flex-basis: 100%;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .box2{
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: unset;
       
        .box2_svg{
            margin-right: -75px;
        }
        
    }
}
 
 
    @media screen and(max-width:800px){
        
        .box1{
           text-align: center;
           margin-right: unset;
           h3{
               font-size: 40px;
           }
           .box1_logo{
               width: 215px;
               height: 60px;
               margin: 40px auto;
           }
           
           p{
               font-size: 16px;
               max-width: unset;
           }
        }
        .box2{
            justify-content: center;
            padding-top: 30px;
            .box2_svg{
                max-width: 400px;
                max-height: 400px;
                margin-right: unset;
               
            }
        }
    }
    @media screen and(max-width:630px){
        display: flex;
        height: 100%;
        margin:25% auto;
        .box1{
            .for_buttons{
                margin-right: unset;
                 button{
                    width: 300px;
                    height: 50px;
                    a{
                        font-size: 18px;
                    }
                }
                .second_button{
                    margin-left: unset;
                    margin-top: 40px;
                }
            }
        }
        .box2{
            display: none;
        }
    }
    @media screen and(max-width:450px){
        padding-right: 10px;
        padding-left: 10px;
        .box1{
            h3{
                font-size: 30px;
            }
            .box1_logo{
                width: 180px;
                height: 50px;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .for_buttons{
                button{
                   width:250px;
                   height: 35px;
                   a{
                       font-size: 15px;
                   }
               }
               .second_button{
                  
                   margin-top: 20px;
               }
           }
        }
    }
    @media screen and(max-width:320px){
        margin: 10% auto;
    }
        
}
    

